@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Variables

$cyan: hsl(179, 62%, 43%);
$light-cyan: rgb(74, 198, 189);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$light-gray-faded: rgba(229, 239, 245, 0.8);
$grayish-blue: hsl(218, 22%, 67%);

// Globals

html {
  box-sizing: border-box;
  font-size: 1rem;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  background: $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Main Styles

.grid-cards {
  display: grid;
  grid-template-columns: minmax(300px, 500px);
  text-align: left;
  margin: 4rem 2rem;
  -webkit-box-shadow: 12px 15px 27px -5px rgba(0, 0, 0, 0.22);
  box-shadow: 12px 15px 27px -5px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
}

.header {
  font-size: 1.4rem;
}

.card {
  padding: 1rem 1.3rem;
}

.join {
  background: white;
  color: $grayish-blue;
  border-radius: 8px 8px 0 0;

  &__header {
    color: $cyan;
  }

  &__subhead {
    font-size: 1rem;
    color: $bright-yellow;
  }

  &__body {
    font-size: 0.9rem;
    line-height: 2em;
  }
}

.join > *,
.monthly > *,
.why > * {
  margin: 1rem 0;
}

.monthly,
.why {
  color: $light-gray;
  width: 100%;
}

.monthly {
  background: $cyan;

  &__price {
    font-size: 2rem;
    font-weight: 700;
  }

  &--super {
    font-size: 1rem;
    font-weight: 300;
    color: $light-gray-faded;
  }

  &__button {
    background: $bright-yellow;
    border: none;
    color: $light-gray;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
  }
}

.why {
  background: $light-cyan;
  border-radius: 0 0 8px 8px;

  &__list {
    list-style: none;
    color: $light-gray-faded;
  }
}

.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  .grid-cards {
    grid-template-columns: repeat(2, 350px);
  }

  .card {
    padding: 2rem 2.5rem;
  }

  .header {
    font-size: 1.5rem;
  }

  .join {
    grid-column: 1 / span 2;
    border-radius: 8px 8px 0 0;

    &__body {
      font-size: 1.1rem;
    }
  }

  .monthly {
    border-radius: 0 0 0 8px;
  }

  .why {
    border-radius: 0 0 8px 0;
    line-height: 1.5rem;
  }
}
